@model Store.WebMVC.Models.CreateFoodViewModel



<div>

    @using (Ajax.BeginForm("Edit", "Food", 
        new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "updateAdminPanel", OnSuccess = "closeDialog" },
        new { enctype = "multipart/form-data" }))
    {


        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            <label for="Name">Name</label>
            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Name)
        </div>
        <div class="form-group">
            <label for="Decription">Description</label>
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = "5" })
            @Html.ValidationMessageFor(m => m.Description)
        </div>
        <div class="form-group">
            <label for="Price">Price</label>
            @Html.EditorFor(m => m.Price, new { htmlAttributes = new { @class = "form-control", placeholder = "Price in rubles" } })
            @Html.ValidationMessageFor(m => m.Price)

        </div>

        <div class="form-group">
            <label for="Category">Category</label>
            @Html.DropDownListFor(m => m.CategoryId, Model.Categories as SelectList, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CategoryId)

        </div>

        <div class="form-group">
            <div style="position:relative;">
                <label>Картинка</label>
                <a class='btn' href='javascript:;'>
                    Выберите файл...
                    <input type="file" name="Image" size="40"
                           style="position:absolute;z-index:2;top:0;
                                left:0;filter: alpha(opacity=0); opacity:0;
                                background-color:transparent;color:transparent;"
                           onchange='$("#upload-file-info").html($(this).val());'>
                </a>
                <span class='label label-info' id="upload-file-info"></span>
            </div>
            @if (Model.ImageData == null)
            {
                <div class="form-control-static">Нет картинки</div>
            }
            else
            {
                <img class="img-thumbnail" width="150" height="150"
                     src="@Url.Action("GetImage", "Food",
                        new { Model.Id })" />
            }
        </div>

        <input type="submit" class="btn btn-secondary" value="Confirm" />
    }
</div>

